[Desktop Entry]
Encoding=UTF-8
Name=Link to Vaizdo rezultatas pagal užklausą „penny board black“
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwiavuXr3r_RAhVFKpoKHduaCKgQjRwIBw&url=http%3A%2F%2Ffatalclothing.com%2Fproduct%2Fpenny-original-rasta%2F&bvm=bv.144224172,d.bGs&psig=AFQjCNEz9upBlq3ZjTtKbYenxTxP-Z0SfA&ust=1484418187968667&cad=rja
Icon=text-html
