<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:600|Montserrat:400|PT+Sans" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/LBlogo.png') }}" />


    </head>
    <body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>